* {
    font-family: 'Magra', sans-serif;
}

.grand_parent {
    display: flex;
    width: auto;
    height: auto;
    justify-content: space-around;
    flex-wrap: wrap;
}

.flex-child {
    height: auto;
    width: 100%;
    /* background: #81ecec; */
    box-shadow: 0 0 10px #bac3c3;
    flex: 1 1 200px;
    margin-top: 20px;
    border-radius: 10px;
    /* background-color: #343a40; */
}

.flex-child>button {
    color: #72e0d1;
}

.flex-child>button:hover {
    color: #f5d67b;
}

.heading-text {
    font-size: 30px;
    padding: 15px;
    /* color: #72e0d1 */
}

.company-text {
    font-size: 30px;
    padding: 15px;
    color: #f5d67b;
}

ul {
    list-style-type: circle;
    padding: 15px;
}

li {
    font-size: 25px;
    margin-left: 15px;
    color: #72e0d1;
}

#button-navbar {
    color: white;
}

td {
    padding: 5px;
}

.project-heading {
    font-size: 25px;
    color: #72e0d1;
}

.project-details {
    font-size: 25px;
    /*    margin-left: 15px;*/
    color: #f5d67b;
}

.project-details>a {
    font-size: 25px;
    /*margin-left: 15px;*/
    color: #f5d67b;
}


}

/*mobile friendly design*/
@media only screen and (max-width:480px) {
    .display-3 {
        font-size: 30px;
    }
    
    .project-heading {
        font-size: 10px;
        color: #72e0d1;
    }
    
    .project-details {
        font-size: 10px;
        color: #f5d67b;
    }
    
    .project-details>a {
        font-size: 10px;
        color: #f5d67b;
    }
}
